<div class="container-fluid">

    <div id="left" class="">
      <header class="header">
        <div class="greeting text-center">
          <h1><strong>Hi, I'm Justin Taj</strong></h1>
          <p class="lead">Web Developer</p>
          <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-git" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <div class="profile-img"></div>
        <div class="header-gradient"></div>
      </header>
    </div><!-- /#right-->
    <div id="right" class="">
      <section id="">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h2>About Me</h2>
            </div>
            <div class="col-12">
              <p>
                Hi, I am Justin Taj and I am a web developer on the rise. As an experienced professional in various fields, I discovered a passion for web development and am currently seeking a full-time position as an entry level web developer on a small team where there is room for growth. My strengths as an employee are in my ability to solve problems creatively and communicate effectively with others. I am a fast to learn and eager to earn!
              </p>
              <p> My mission is to become a web developer at company in San Diego that allows me to learn, grow and improve my skills as a web developer so that I can eventually work remotely or as a freelancer. The ideal company for me will engage in positive change in the world, has a fun and social company culture and has room for growth. I can offer enthusiasm toward day to day work, communication skills, customer service skills and a foundation in web development.
              </p>
              <p> With a background in management, customer service and sales, I believe that I would make an ideal employee because I understand the importance of following a process in order to produce expected results. Furthermore, my experience with both leading teams and being on teams has refined my understanding of teamwork; knowing what its like to be the indian and the chief in an operation has given me insight on how to better perform on a team or as its leader. My communication skills enhance my teamwork skills naturally by allowing trust and comrodery to build organically which enhances the strength of a team.
        </div>
      </section>

      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h2>Skills</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-xl-6">
              <ul class="list-group">
                <li class="list-group-item">
                  HTML
                </li>
                <li class="list-group-item">
                  CSS
                </li>
                <li class="list-group-item">
                  JAVASCRIPT
                </li>
                <li class="list-group-item">
                  JQUERY
                </li>
                <li class="list-group-item">
                  BOOTSTRAP
                </li>
                <li class="list-group-item">
                  RUBY ON RAILS
                </li>
              </ul>
            </div>
            <div class="col-lg-12 col-xl-6">
              <ul class="list-group">
                <li class="list-group-item">
                  LAYOUT DESIGN
                </li>
                <li class="list-group-item">
                  PHOTO EDITING
                </li>
                <li class="list-group-item">
                  VIDEO EDITING
                </li>
                <li class="list-group-item">
                  PROJECT MANAGEMENT
                </li>
                <li class="list-group-item">
                  CUSTOMER SERVICE
                </li>
                <li class="list-group-item">
                  SALES
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section id="experience">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h2>Work Experience</h2>
            </div><!-- .col-12 -->
          </div><!-- .row -->
          <div class="row">
            <div class="col-12">
              <div class="item">
                <small>2017 - 2018</small>
                <h3>Fit Specialist</h3>
                <h5>San Diego Harley Davidson</h5>
                <p>San Diego, California</p>
              </div><!-- .item -->
              <div class="item">
                <small>2015 - 2017</small>
                <h3>Event Manager</h3>
                <h5>The Willow Ballroom</h5>
                <p>Sacramento, California</p>
              </div><!-- .item -->
              <div class="item">
                <small>2011 - 2015</small>
                <h3>Team Leader</h3>
                <h5>Neumann Enterprise</h5>
                <p>Sacramento, California</p>
              </div><!-- .item -->
            </div><!-- .col-12 -->
          </div><!-- .row -->
        </div><!-- /.container-fluid-->
      </section><!-- /#experience-->
      <section id="education">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h2>Education</h2>
            </div><!-- .col-12 -->
          </div><!-- .row -->
          <div class="row">
            <div class="col-12">
              <div class="item">
                <small>2018 - 2019</small>
                <h3>Web Developer Course</h3>
                <h5>CareerFoundry.com</h5>
                <p>Online</p>
              </div><!-- .item -->
              <div class="item">
                <small>2011 - 2017</small>
                <h3>Recreation, Hospitality &amp Toursim Administration</h3>
                <h5>Sacramento State University of California</h5>
                <p>Sacramento, California</p>
              </div><!-- .item -->
            </div><!-- .col-12 -->
          </div><!-- .row -->
        </div><!-- /.container-fluid-->
      </section>
      <section id="portfolio">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h2>Portfolio</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-12">
              <a href="https://cactusxr.herokuapp.com/" class="portfolio-item">
                <div class="portfolio-thumb">
                  <%= image_tag('cactusxr.png', class: 'img-fluid')  %>
                </div>
                <div class="portfolio-img-info">
                  <h3>Ecommerce Website</h3>
                  <small>cactusxr.herokuapp.com</small>
                </div><!-- /.portfolio-img-info-->
              </a><!-- /.portfolio-item-->
            </div><!-- /.col-->
            <div class="col-xl-6 col-12">
              <a href="https://tajx2.netlify.com/" class="portfolio-item">
                <div class="portfolio-thumb">
                  <%= image_tag('portfolio-site.png', class: 'img-fluid')  %>
                </div>
                <div class="portfolio-img-info">
                  <h3>Portfolio</h3>
                  <small>https://tajx2.netlify.com</small>
                </div><!-- /.portfolio-img-info-->
              </a><!-- /.portfolio-item-->
            </div><!-- /.col-->
          </div><!-- /.row-->
        </div><!-- /.container-fluid-->
      </section><!-- /#portfolio-->
      <section id="contact" class="section-contact section-wrapper gray-bg">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="section-title">
                <h2>Contact</h2>
              </div>
            </div>
          </div><!--.row-->
          <div class="row">
            <div class="col-md-12">
              <address class="item">
                <!-- <h3>Address</h3> -->
                <i class="pr-3 fa fa-map-marker" aria-hidden="true"></i><p class="d-inline">San Diego, CA 92122</p>
              </address>
              <address class="item">
                <!-- <h3>Phone</h3> -->
                <i class="pr-3 fa fa-phone" aria-hidden="true"></i><p class="d-inline">+1 (858) 539-3361</p>
              </address>
              <address class="item">
                <!-- <h3>Email</h3> -->
                <i class="pr-3 fa fa-envelope" aria-hidden="true"></i><p class="d-inline"><a href="mailto:#">justin.taj@gmail.com</a></p>
              </address>
            </div>
          </div>
          <!--.row-->
        
        </div><!--.container-fluid-->
      </section>
  </div><!-- /#right-->
</div><!-- /.container-fluid-->
