// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Hind', sans-serif;
  font-size: 18px !important;
  line-height: 1.8em !important;
  color: #3d3d50;
  font-weight: 300;
  background: #ffffff;
}
.profile-img {
  background-image:url('https://i.ibb.co/y0pRXrq/IMG-3966.jpg');
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
}

#left {
  width: 40%;
  text-align: center;
  overflow: hidden;
  position: fixed;
  left: 0;
}
#right {
  width: 60%;
  position: absolute;
  right: 0;
  box-shadow: -10px -10px 30px rgba(0, 0, 0, 0.23);
}
.greeting {
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  /* padding: 10%; */
}
.header-gradient {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 37%;
  margin: 0 auto;
  padding: 10%;
  background: -webkit-linear-gradient( top, transparent 0%, rgba(128, 0, 32, 0.5) 100% );
}
.header {
  padding: 0;
  margin: 0;
  height: 100vh;
  vertical-align: middle;
  position: relative;
}
.social-icons {
  margin: 0;
  padding: 0;
  display: block;
  display: none;
}
.social-icons li {
  display: inline-block;
  margin: 0 2px;
}
.social-icons li a {
  display: block;
  font-size: 12px;
  color: #ffffff;
  width: 34px;
  height: 34px;
  line-height: 33px;
  text-align: center;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, .2);
}
section {
  padding: 50px;
}
section:nth-child(even) {
  background: #f9f9f9;
}

section h2 {
  padding-bottom: 15px;
}
section p {
  text-align: justify;
  margin-bottom: 20px;
}
.item h3 {
  margin-bottom: 5px;
  font-weight: 700;
}
h3 {
  line-height: 1.8em;
  font-weight: 500;
}
h2 {
  color: rgba(128, 0, 32, 1) !important;
  text-transform: capitalize;
}
i {
  font-size: 25px !important;
}
 .progress-item {
   position: relative;
 }
 .progress-item .progress-title {
   font-size: 18px;
   font-weight: 400;
   display: inline-block;
   margin-bottom: 5px;
 }
 .progress-item .progress {
   height: 4px;
   box-shadow: none;
   border-radius: 5px;
 }
 .progress-item .progress-bar {
   background-color: #2a54f5;
   box-shadow: none;
   text-align: right;
 }
 .progress-item .progress-percent {
   font-size: 10px;
   background-color: #313131;
   position: absolute;
   top: 5px;
   padding: 0 8px;
   border-radius: 3px;
 }
 .progress-item .progress-percent::before {
   position: absolute;
   left: 0;
   bottom: -4px;
   border-top: 6px solid #313131;
   border-right: 8px solid transparent;
 }

.item h3 {
  margin: 0 0 10px;
  margin-bottom: 10px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}
.item p {
  margin-bottom: 0;
}
.item {
  margin-bottom: 40px;
}
.item small {
  font-size: 100%;
}
.item h5 {
  margin-bottom: 0;
}
.portfolio-img {
  // background-image:url('portfolio.png');
  // height: auto;
  // display: block;
  // max-width: 100%;
}
.portfolio-item {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.portfolio-item:hover .portfolio-img-info {
  color: blue;
  // background: -webkit-linear-gradient( top, transparent 0%, rgba(128, 0, 32, 0.5) 100% );

}
.portfolio-img-info {
  color: black;
  position: absolute;
  /* padding: 11px 15px 5px; */
  width: 100%;
  /* background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%); */

}
.form-control {
  height: 70px !important;
  padding: 0 20px;
  font-size: 18px !important;
  line-height: 50px;
  color: #969595;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
}
.feedback-form {
  margin-top: 50px;
}
